@model List<ForSale.Models.Product>

@{
    string tag = ViewBag.Tag;
}

@if (string.IsNullOrEmpty(tag) == false)
{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Product")">Todos</a></li>
        <li><a href="@Url.Action("Index", "Product", new { tag = tag })">@tag</a></li>
    </ol>
}

@foreach (var slice in Model.EachSlice(3))
{
    <div class="row">
        @foreach (var product in slice)
        {
            <div class="col-md-4">

                <h2><a href="@Url.Action("Show", "Product", new {product.Id})">@product.Title</a></h2>

                <div class="image">
                    <a href="@Url.Action("Show", "Product", new {product.Id})">
                        <img src="http://i.imgur.com/@(product.RemoteThumbnail).jpg?" alt="@product.Title" class="img-thumbnail">
                    </a>
                </div>

                <div class="label label-success price">
                    @Decimal(product.Price)
                </div>

            </div>
        }
    </div>
}

@helper Decimal(decimal value)
{
    if (value != 0)
    {
        var spanClass = value > 0 ? "positive" : "negative";
        <span class="@spanClass">@value.Show()</span>
    }
}